@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), imgUrl('header.jpg');
    background-size: cover;

    .navigation-bar {
        padding: 37px 0;

        .horizontal-line {
            width: 100%;
            height: 1px;
            background-color: $white;
        }
    }

    .banner {
        text-align: center;
        padding: 176px 0 266px;
    }
}

section.specialise {
    background-color: $dark;
    padding: 36px 0;

    .dot {
        height: 6.7px;
        width: 6.7px;
        background-color: $white;
        border-radius: 50%;
        margin: 0 10px;
    }
}

.gradient-divider {
    background: linear-gradient(180deg, #FDF18C 0%, #B28E5D 90.1%);
    width: 100%;
    height: 1px;
}

section.about {
    background: imgUrl('about.png');
    background-size: cover;
    padding: 44px 0 95px;
}

section.portfolio {
    .portfolio-card {
        background: rgba(19, 19, 19, 0.74);

        .portfolio-slider {
            margin-bottom: 0;

            .slick-slide {
                margin: 0 7.5px;
            }

            .slick-dots {
                display: flex !important;
                bottom: -20px;
                right: 85px;
                list-style-type: none;
                justify-content: end;

                li {
                    margin: 0 2.5px;
                    width: 10px;
                    height: 10px;

                    button:before {
                        width: 10px;
                        height: 10px;
                    }
                }

                button {
                    display: block;
                    width: 10px;
                    height: 10px;
                    padding: 0;
                    border: none;
                    background: $white;
                    text-indent: -9999px;
                    border-radius: 50%;
                    opacity: 0.2;
                }

                li.slick-active button {
                    background: linear-gradient(180deg, #FDF18C 0%, #B28E5D 90.1%);
                    opacity: 1;
                }
            }
        }

        .nextArrow {
            position: absolute;
            right: 0;
            bottom: -27px;
        }
    }
}

footer {
    font-size: 0.875rem;
    background-color: #221f1f;

    @include media-breakpoint-down(sm) {
        font-size: 0.61rem;
    }
}