@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

.modal#form {
    .modal-dialog {
        @include media-breakpoint-up(md) {
            width: 90%;
            max-width: 90%;
        }

        .modal-content {
            background: imgUrl('about.png') center top $black;
            border: 0;
            border-radius: 0;

            .modal-header {
                border-bottom: 0;

                .btn-close:focus {
                    box-shadow: none;
                    outline: none;
                }
            }

            .modal-body {
                padding: 66px 0;

                @include media-breakpoint-down(sm) {
                    padding: 20px 0;

                    .dp {
                        max-width: 71px;
                    }
                }

                .hero_heading {
                    @include media-breakpoint-down(xl) {
                        font-size: 80px !important;
                    }

                    @include media-breakpoint-down(sm) {
                        font-size: 50px !important;
                    }
                }

                .sub_heading {
                    @include media-breakpoint-down(xl) {
                        font-size: 40px !important;
                    }

                    @include media-breakpoint-down(sm) {
                        font-size: 29px !important;
                    }
                }

                .form_heading {
                    @include media-breakpoint-down(xl) {
                        font-size: 32px !important;
                    }

                    @include media-breakpoint-down(lg) {
                        text-align: center;
                    }

                    @include media-breakpoint-down(sm) {
                        font-size: 22px !important;
                    }
                }

                .form_phoneBtn {
                    @include media-breakpoint-down(sm) {
                        font-size: 15px !important;
                    }
                }

                form {
                    padding-top: 39px;

                    .form_row {
                        --bs-gutter-y: 54px;

                        @include media-breakpoint-down(xxl) {
                            --bs-gutter-y: 34px;
                        }

                        @include media-breakpoint-down(sm) {
                            --bs-gutter-y: 20px;
                        }
                    }

                    input[type=text],
                    input[type=tel],
                    input[type=email] {
                        font-weight: 200;
                        padding: 0 0 8px 0;
                        border-radius: 0;
                        border: 0;
                        border-bottom: 1px solid #dadada;
                        color: $white;
                        background: none;
                        font-size: 1.25rem;

                        &::placeholder {
                            color: #dadada;
                            opacity: 0.6;
                        }

                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }

                        @include media-breakpoint-down(sm) {
                            font-size: 12px !important;
                        }
                    }

                    input[type=checkbox] {
                        border: 1px solid $primary;
                        background: none;
                        height: 32px;
                        width: 32px;
                        border-radius: 0;
                        transition: 0.3s all;

                        @include media-breakpoint-down(sm) {
                            height: 18px;
                            width: 18px;
                        }

                        &:checked {
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-check-lg' viewBox='0 0 16 16'%3E%3Cpath d='M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z'/%3E%3C/svg%3E");
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-color: #b28e5d !important;
                            border-color: #b28e5d !important;
                        }

                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }

                    label {
                        @include media-breakpoint-down(sm) {
                            font-size: 13px !important;
                        }
                    }
                }
            }
        }
    }
}

header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    position: relative;
    overflow: hidden;

    .hero-video {
        position: absolute;
        z-index: -1;

        video {
            height: 100%;
        }
    }

    @include media-breakpoint-only(lg) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navigation-bar {
        padding: 37px 0;

        @include media-breakpoint-down(sm) {
            padding: 15px 0;
        }

        .main_container {
            position: relative;

            &::after {
                height: 1px;
                background: $white;
                position: absolute;
                width: 100%;
                content: "";
                top: 50%;
                right: -100%;

                @include media-breakpoint-down(xl) {
                    display: none;
                }
            }
        }
    }

    .banner {
        text-align: center;
        padding: 176px 0 266px;

        @include media-breakpoint-down(xl) {
            padding: 120px 0;
        }

        @include media-breakpoint-down(lg) {
            padding: 76px 0;
        }

        @include media-breakpoint-down(sm) {
            padding: 55px 0;

            .hero_heading {
                font-size: 38px !important;
            }

            .sub_heading {
                font-size: 16px !important;
            }
        }
    }

    .specialise {
        background: $dark;
        padding: 36px 0;

        @include media-breakpoint-down(sm) {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 44.05%);
        }
    }
}

section.specialise {
    background-color: $dark;
    padding: 36px 0;

    .dot {
        height: 6.7px;
        width: 6.7px;
        background-color: $white;
        border-radius: 50%;
        margin: 0 10px;
    }
}

section.about {
    background: imgUrl('about.png');
    background-size: cover;
    padding: 44px 0 95px;

    @include media-breakpoint-down(xl) {
        padding: 95px 0;
    }

    @include media-breakpoint-only(lg) {
        .hero_heading {
            font-size: 3.5rem !important;
        }
    }

    @include media-breakpoint-down(sm) {
        padding: 21px 0;
    }

    .main_row {
        position: relative;

        &::before {
            height: 1px;
            background: linear-gradient(180deg, #FDF18C 0%, #B28E5D 90.1%);
            position: absolute;
            width: 100%;
            content: "";
            top: 50%;
            left: -100%;
        }
    }
}

section.portfolio {
    .portfolio-card {
        background: rgba(19, 19, 19, 0.74);
        overflow: hidden;

        .main_row {
            position: relative;
    
            &::before {
                height: 1px;
                background: linear-gradient(180deg, #FDF18C 0%, #B28E5D 90.1%);
                position: absolute;
                width: 100%;
                content: "";
                top: 50%;
                left: -100%;
            }
        }

        @include media-breakpoint-down(lg) {
            padding: 17px 12px
        }

        .portfolio-slider {
            margin-bottom: 0;

            .slick-slide {
                margin: 0 7.5px;
            }

            .slick-dots {
                display: flex !important;
                bottom: -20px;
                right: 85px;
                list-style-type: none;
                justify-content: end;

                li {
                    margin: 0 2.5px;
                    width: 10px;
                    height: 10px;

                    button:before {
                        width: 10px;
                        height: 10px;
                    }
                }

                button {
                    display: block;
                    width: 10px;
                    height: 10px;
                    padding: 0;
                    border: none;
                    background: $white;
                    text-indent: -9999px;
                    border-radius: 50%;
                    opacity: 0.2;
                }

                li.slick-active button {
                    background: linear-gradient(180deg, #FDF18C 0%, #B28E5D 90.1%);
                    opacity: 1;
                }
            }
        }

        .nextArrow {
            position: absolute;
            right: 0;
            bottom: -27px;
        }
    }
}

section.quick-contact {
    padding-top: 132px;
}

section.team {
    padding: 77px 0 64px;
    background: imgUrl('about.png');
    background-size: cover;

    @include media-breakpoint-down(sm) {
        padding: 48px 0;
    }

    .team-card {
        border-radius: 4px;
        background-color: $tertiary;
        padding: 0 34px 59px;
        text-align: center;
        height: 100%;
        line-height: 1.66;

        @include media-breakpoint-down(lg) {
            padding: 0 17px 37px;
        }

        img {
            height: 144px;
            width: 144px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

footer {
    background-color: #1A1A1A;
    color: #909090;
    padding: 34px 0;

    @include media-breakpoint-down(sm) {
        font-size: 0.61rem;
    }
}