@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background-size: cover;
    position: relative;
    overflow: hidden;

    .hero-video {
        position: absolute;
        z-index: -1;

        video {
            height: 100%;
        }
    }

    @include media-breakpoint-only(lg) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navigation-bar {
        padding: 37px 0;

        @include media-breakpoint-down(sm) {
            padding: 15px 0;
        }
    }

    .banner {
        text-align: center;
        padding: 176px 0 266px;

        @include media-breakpoint-down(xl) {
            padding: 120px 0;
        }

        @include media-breakpoint-down(lg) {
            padding: 76px 0;
        }

        @include media-breakpoint-down(sm) {
            padding: 55px 0;

            .hero_heading {
                font-size: 38px !important;
            }

            .sub_heading {
                font-size: 16px !important;
            }
        }
    }

    .specialise {
        background: $dark;
        padding: 36px 0;

        @include media-breakpoint-down(sm) {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 44.05%);
        }
    }
}

section.specialise {
    background-color: $dark;
    padding: 36px 0;

    .dot {
        height: 6.7px;
        width: 6.7px;
        background-color: $white;
        border-radius: 50%;
        margin: 0 10px;
    }
}

section.about {
    background: imgUrl('about.png');
    background-size: cover;
    padding: 44px 0 95px;

    @include media-breakpoint-down(xl) {
        padding: 95px 0;
    }

    @include media-breakpoint-only(lg) {
        .hero_heading {
            font-size: 3.5rem !important;
        }
    }

    @include media-breakpoint-down(sm) {
        padding: 21px 0;
    }
}

section.portfolio {
    .portfolio-card {
        background: rgba(19, 19, 19, 0.74);


        @include media-breakpoint-down(lg) {
            padding: 17px 12px
        }

        .portfolio-slider {
            margin-bottom: 0;

            .slick-slide {
                margin: 0 7.5px;
            }

            .slick-dots {
                display: flex !important;
                bottom: -20px;
                right: 85px;
                list-style-type: none;
                justify-content: end;

                li {
                    margin: 0 2.5px;
                    width: 10px;
                    height: 10px;

                    button:before {
                        width: 10px;
                        height: 10px;
                    }
                }

                button {
                    display: block;
                    width: 10px;
                    height: 10px;
                    padding: 0;
                    border: none;
                    background: $white;
                    text-indent: -9999px;
                    border-radius: 50%;
                    opacity: 0.2;
                }

                li.slick-active button {
                    background: linear-gradient(180deg, #FDF18C 0%, #B28E5D 90.1%);
                    opacity: 1;
                }
            }
        }

        .nextArrow {
            position: absolute;
            right: 0;
            bottom: -27px;
        }
    }
}

section.quick-contact {
    padding-top: 132px;
}

section.team {
    padding: 77px 0 64px;
    background: imgUrl('about.png');
    background-size: cover;

    @include media-breakpoint-down(sm) {
        padding: 48px 0;
    }

    .team-card {
        border-radius: 4px;
        background-color: $tertiary;
        padding: 0 34px 59px;
        text-align: center;
        height: 100%;
        line-height: 1.66;

        @include media-breakpoint-down(lg) {
            padding: 0 17px 37px;
        }

        img {
            height: 144px;
            width: 144px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

footer {
    background-color: #1A1A1A;
    color: #909090;
    padding: 34px 0;

    @include media-breakpoint-down(sm) {
        font-size: 0.61rem;
    }
}